# Introducción al tratamiento de datos no estructurados (textos)

## 1. Preámbulo

Un **dato** es una representación cuantitativa o cualitativa (numérica, alfabética, espacial, etc.) de un atributo asociado a un concepto o a una relación entre conceptos.

ejemplos:
- "color: azul" --> auto
- "edad: 24" --> persona
- "diagnóstico: enfermedad A"  --> médico-paciente

![](modelo-data-wisdom.png)

Los **datos estructurados** son datos asociados a un conjunto de metadatos que explicitan su semántica y su relación.

Ejemplos: Tabla o Documento JSON

Tabla: Persona

| Nombre  | Edad  | Color de auto |
|---|---|---|
| Maria  | 52 | azul  |
| Juan  | 29  | negra  |



Los **datos no estucturados** son datos que no están asociados con metadatos que explicitan su semántica.

Ejemplos: Textos, Imágenes

"Sismo sacude a Tokio y otras ciudades del este de Japón"

--> ¿De qué país habla este texto?
--> ¿De qué categoría de noticias se trata?

## 2. Caso de estudio

En este notebook, utilizaremos una colección de noticias de prensa chilena llamada "Aegir" recopilada en el proyecto Sophia2.

Queremos estructurar los datos disponible en una Base de Datos Relacional para poder responder facilmente a las consultas siguiente:

C1- ¿De qué personas se habla en las noticias?

C2- ¿De qué localidades (ciudades, paises) se hablan en las noticias?

C3- ¿Cuál es el género de las personas mencionadas?

C4- ¿Cómo se distribuye el género de las personas mencionadas según el medio de prensa?

C5- ¿Cómo se distribuyen las noticias seǵun las localidades?


Noticia (id, fecha, texto, titulo, nombre_medio)

Mencionar_personas(#id_noticia,nombre_persona,genero)

Mencionar_localidades(#id_noticia, nombre_localidad)

## 3. Cargar y descubrir el dataset Aegir

In [ ]:
!pip install pandas

In [1]:
from datetime import datetime
import pandas as pd

In [2]:
DATASET_CSV="sophia2-aegir-100k.csv"

In [3]:
data_df = pd.read_csv(DATASET_CSV,sep=',')
data_df['date'] = pd.to_datetime(data_df['date'])
data_df[2:10]

,date,news outlet,title,text,semester,year
2,2016-05-16 12:58:16,24HorasTVN,Policía de Chicago reporta desaparición de la...,La irlandesa fue vista por última vez en un b...,0,2016
3,2016-05-16 11:14:32,24HorasTVN,Más de 20 ballenas piloto mueren tras varar e...,Sólo tres de los 27 cetáceos que quedaron var...,0,2016
4,2016-05-16 12:04:57,24HorasTVN,Sismo sacude a Tokio y otras ciudades del est...,"Según la cadena de televisión pública NHK, no...",0,2016
5,2016-05-16 12:03:36,24HorasTVN,Presidenta Bachelet designa a Pablo Silva Ama...,Quien fuera Seremi de Obras Públicas ocupará ...,0,2016
6,2016-07-18 14:00:23,24HorasTVN,Madre que amamanta a su hijo de cinco años ca...,La historia de esta mujer ha causado gran exp...,1,2016
7,2016-07-11 10:30:14,24HorasTVN,Quiroga: El 2018 el 60% de los estudiantes ac...,La subsecretaria de Educación destacó que a p...,1,2016
8,2016-07-11 14:32:48,24HorasTVN,Brasil pierde a una de sus estrellas para dis...,"Por Agencia AFP • 11 julio, 2016 El atacante...",1,2016
9,2016-07-11 14:29:17,24HorasTVN,Fiscal de Cancillería formulan cargos en cont...,La investigación está en manos del embajador ...,1,2016

In [4]:
print(data_df[4:5].title)

4     Sismo sacude a Tokio y otras ciudades del est...
Name: title, dtype: object

In [5]:
print(pd.options.display.max_colwidth)
pd.options.display.max_colwidth = 300

50

In [ ]:
#!pip install pandasql

## 4. Consultas SQL con Pandas

In [6]:
from pandasql import sqldf

query="SELECT DISTINCT \"news outlet\" FROM data_df;"
result=sqldf(query)
result

     news outlet
0    24HorasTVN
1        biobio
2   Cooperativa
3          Emol
4     latercera

In [7]:
query="SELECT \"news outlet\", count(*) FROM data_df GROUP BY \"news outlet\";"
result=sqldf(query)
result

     news outlet  count(*)
0    24HorasTVN      24735
1   Cooperativa      19703
2          Emol      24648
3        biobio      14880
4     latercera      16033

In [8]:
query="SELECT * FROM data_df LIMIT 1;"
result=sqldf(query)
result

,date,news outlet,title,text,semester,year
0,2016-07-04 15:03:04.000000,24HorasTVN,"Caso ""dólar futuro"": Juez cita a nueva audiencia a Cristina Fernández - Internacional - 24horas","La ex mandataria será notificada de su procesamiento en la causa por venta de dólares a futuro. Además, se le informará de que se le trabará un embargo sobre sus bienes. El juez federal del caso ""dólar futuro"", Claudio Bonadio, fijó una nueva citación a tribunales a la ex presidenta de Argenti...",1,2016

## 4. Procesamiento Automático del Lenguaje (Natural Language Processing) con Spacy

In [ ]:
#!pip install spacy
#!python -m spacy download es_core_news_sm

In [10]:
import spacy

nlp = spacy.load('es_core_news_sm')
spacy_stopwords = spacy.lang.es.stop_words.STOP_WORDS

In [12]:
for index,row in result.iterrows():
    # Text of the news
    text=row[3]
    print(text)
    doc = nlp(text)
    
    #tokenizar
    #postagging --> etiquetar la categoria gramatical de las palabras
    #segmentar las frases
    #reconocimiento de entidades

 La ex mandataria será notificada de su procesamiento en la causa por venta de dólares a futuro. Además, se le informará de que se le trabará un embargo sobre sus bienes.  El juez federal del caso "dólar futuro", Claudio Bonadio, fijó una nueva citación a tribunales a la ex presidenta de Argentina, Cristina Fernández. La audiencia quedó fijada para el próximo miércoles 6 de julio, instancia en la que se le notificará su procesamiento en la causa por venta de dólares a futuro. Además, será informada de que se le trabará un embargo sobre sus bienes, según consigna el medio trasandinoTN. En una entrevista emitida el domingo, la "Señora K" desmintió que su arribo a Buenos Aires se debiera a la citación de Bonadio, aclarando que su hija, Florencia Kirchner, "cumple años el próximo miércoles" y que quiso viajar a la capital argentina para "tener una impresión de primerísima mano de lo social". Foto: AFP

In [13]:
 for entity in doc.ents:
        print(str(entity)+" "+str(entity.label_))

Además LOC
El juez federal del caso MISC
Claudio Bonadio PER
Argentina LOC
Cristina Fernández PER
La audiencia quedó fijada MISC
Además MISC
trasandinoTN MISC
Señora K MISC
Buenos Aires LOC
Bonadio PER
Florencia Kirchner PER
Foto MISC

In [14]:
 for sentence in doc.sents:
        print("FRASE: "+str(sentence))

FRASE:  La ex mandataria será notificada de su procesamiento en la causa por venta de dólares a futuro.
FRASE: Además, se le informará de que se le trabará un embargo sobre sus bienes.
FRASE: El juez federal del caso "dólar futuro", Claudio Bonadio, fijó una nueva citación a tribunales a la ex presidenta de Argentina, Cristina Fernández.
FRASE: La audiencia quedó fijada para el próximo miércoles 6 de julio, instancia en la que se le notificará su procesamiento en la causa por venta de dólares a futuro.
FRASE: Además, será informada de que se le trabará un embargo sobre sus bienes, según consigna el medio trasandinoTN.
FRASE: En una entrevista emitida el domingo, la "Señora K" desmintió que su arribo a Buenos Aires se debiera a la citación de Bonadio, aclarando que su hija, Florencia Kirchner, "cumple años el próximo miércoles" y que quiso viajar a la capital argentina para "tener una impresión de primerísima mano de lo social".
FRASE: Foto: AFP

In [15]:
for token in doc:
    print(str(token)+" "+str(token.pos_))

  SPACE
La DET
ex ADJ
mandataria NOUN
será AUX
notificada VERB
de ADP
su DET
procesamiento NOUN
en ADP
la DET
causa NOUN
por ADP
venta NOUN
de ADP
dólares NOUN
a ADP
futuro NOUN
. PUNCT
Además ADV
, PUNCT
se PRON
le PRON
informará VERB
de ADP
que SCONJ
se PRON
le PRON
trabará VERB
un DET
embargo NOUN
sobre ADP
sus DET
bienes NOUN
. PUNCT
  SPACE
El DET
juez NOUN
federal ADJ
del ADP
caso NOUN
" PUNCT
dólar NOUN
futuro ADJ
" PUNCT
, PUNCT
Claudio PROPN
Bonadio PROPN
, PUNCT
fijó VERB
una DET
nueva ADJ
citación NOUN
a ADP
tribunales NOUN
a ADP
la DET
ex ADJ
presidenta NOUN
de ADP
Argentina PROPN
, PUNCT
Cristina PROPN
Fernández PROPN
. PUNCT
La DET
audiencia NOUN
quedó VERB
fijada ADJ
para ADP
el DET
próximo ADJ
miércoles NOUN
6 NUM
de ADP
julio NOUN
, PUNCT
instancia NOUN
en ADP
la DET
que PRON
se PRON
le PRON
notificará VERB
su DET
procesamiento NOUN
en ADP
la DET
causa NOUN
por ADP
venta NOUN
de ADP
dólares NOUN
a ADP
futuro NOUN
. PUNCT
Además ADV
, PUNCT
será AUX
informada VERB
de ADP
que SCONJ
se PRON
le PRON
trabará VERB
un DET
embargo NOUN
sobre ADP
sus DET
bienes NOUN
, PUNCT
según SCONJ
consigna VERB
el DET
medio NOUN
trasandinoTN PROPN
. PUNCT
En ADP
una DET
entrevista NOUN
emitida ADJ
el DET
domingo NOUN
, PUNCT
la DET
" PUNCT
Señora PROPN
K PROPN
" PUNCT
desmintió VERB
que SCONJ
su DET
arribo NOUN
a ADP
Buenos PROPN
Aires PROPN
se PRON
debiera VERB
a ADP
la DET
citación NOUN
de ADP
Bonadio PROPN
, PUNCT
aclarando AUX
que SCONJ
su DET
hija NOUN
, PUNCT
Florencia PROPN
Kirchner PROPN
, PUNCT
" PUNCT
cumple VERB
años NOUN
el DET
próximo ADJ
miércoles NOUN
" PUNCT
y CONJ
que PRON
quiso VERB
viajar VERB
a ADP
la DET
capital NOUN
argentina ADJ
para ADP
" PUNCT
tener VERB
una DET
impresión NOUN
de ADP
primerísima ADJ
mano NOUN
de ADP
lo DET
social ADJ
" PUNCT
. PUNCT
Foto NOUN
: PUNCT
AFP PROPN

## 5. Utilizar un diccionario de nombres

In [16]:
### Loading the dictionary of names (men=0, woman= 1) 

DICTIONARY_FILE = "diccionario_nombre_v2.csv"

def load_dictionary(filename):
    dictionary= dict()
    with open(filename, 'r') as file:         
        next(file)
        for line in file:
            line = line.rstrip().split(",")
            
            ### 'H' in spanish for Hombre --> Male
            if(line[1] == 'H'):                
                dictionary[line[0]] = 0
            ### 'M' in spanish for Mujer --> Female
            if(line[1] == 'M'):                
                dictionary[line[0]] = 1
                
    return dictionary

dictionary = load_dictionary(filename=DICTIONARY_FILE)
dictionary

{'Juan': 0,
 'Jorge': 0,
 'Sebastián': 0,
 'José': 0,
 'Carlos': 0,
 'Pablo': 0,
 'Luis': 0,
 'Nicolás': 0,
 'Felipe': 0,
 'Alejandro': 0,
 'Marcelo': 0,
 'Claudio': 0,
 'Rodrigo': 0,
 'Ricardo': 0,
 'Mario': 0,
 'Andrés': 0,
 'Fernando': 0,
 'Donald': 0,
 'Gonzalo': 0,
 'Jaime': 0,
 'Francisco': 0,
 'Arturo': 0,
 'Mauricio': 0,
 'Eduardo': 0,
 'Sergio': 0,
 'Manuel': 0,
 'Pedro': 0,
 'Diego': 0,
 'Roberto': 0,
 'Alberto': 0,
 'Miguel': 0,
 'Daniel': 0,
 'Patricio': 0,
 'David': 0,
 'Michelle': 1,
 'Matías': 0,
 'Alexis': 0,
 'Gabriel': 0,
 'María': 1,
 'Julio': 0,
 'Alvaro': 0,
 'John': 0,
 'Guillermo': 0,
 'Héctor': 0,
 'Rafael': 0,
 'Raúl': 0,
 'Michael': 0,
 'Javier': 0,
 'Ivan': 0,
 'Hugo': 0,
 'Ignacio': 0,
 'Oscar': 0,
 'Víctor': 0,
 'Gustavo': 0,
 'Cristián': 0,
 'Cecilia': 1,
 'Antonio': 0,
 'James': 0,
 'Paul': 0,
 'Evo': 0,
 'Alfredo': 0,
 'Leonardo': 0,
 'Enrique': 0,
 'Joaquín': 0,
 'Beatriz': 1,
 'Santiago': 0,
 'Christian': 0,
 'Martin': 0,
 'Charles': 0,
 'Kim': 0,
 'Cristina': 1,
 'Isabel': 1,
 'Robert': 0,
 'Marco': 0,
 'Marcela': 1,
 'Claudia': 1,
 'Alex': 0,
 'César': 0,
 'Camilo': 0,
 'Johnny': 0,
 'Daniela': 1,
 'Stephen': 0,
 'Ernesto': 0,
 'Gary': 0,
 'Carmen': 1,
 'Bruno': 0,
 'Jean': 0,
 'Chris': 0,
 'Augusto': 0,
 'Ana': 0,
 'Natalia': 1,
 'Van': 0,
 'Nelson': 0,
 'Mónica': 1,
 'Germán': 0,
 'Mike': 0,
 'Paulo': 0,
 'Alfonso': 0,
 'Reinaldo': 0,
 'Cristiano': 0,
 'Francisca': 1,
 'Andrea': 1,
 'Emilio': 0,
 'Patricia': 1,
 'Heraldo': 0,
 'Consuelo': 1,
 'Eugenio': 0,
 'Ramón': 0,
 'Javiera': 1,
 'Richard': 0,
 'Gerardo': 0,
 'Peter': 0,
 'Osvaldo': 0,
 'Lucas': 0,
 'Frank': 0,
 'George': 0,
 'Kevin': 0,
 'Tom': 0,
 'San': 0,
 'Hermes': 0,
 'Paula': 1,
 'Barack': 0,
 'Steve': 0,
 'Roger': 0,
 'Vladimir': 0,
 'Lionel': 0,
 'Rubén': 0,
 'Jair': 0,
 'Benjamín': 0,
 'Michel': 0,
 'Bernardo': 0,
 'Ximena': 1,
 'Marcos': 0,
 'Giorgio': 0,
 'Cristóbal': 0,
 'Ángelo': 0,
 'Fidel': 0,
 'René': 0,
 'Emmanuel': 0,
 'Violeta': 1,
 'Ronald': 0,
 'Emiliano': 0,
 'Theresa': 1,
 'Roland': 0,
 'Mariana': 1,
 'Bob': 0,
 'Vicente': 0,
 'Angela': 0,
 'Steven': 0,
 'Thomas': 0,
 'Salvador': 0,
 'Brian': 0,
 'Bárbara': 1,
 'Jonathan': 0,
 'Alejandra': 1,
 'Valentina': 1,
 'Paolo': 0,
 'Carolina': 1,
 'Alan': 0,
 'Nicanor': 0,
 'Bill': 0,
 'Aldo': 0,
 'Anthony': 0,
 'Gabriela': 1,
 'Joe': 0,
 'Catalina': 1,
 'Guido': 0,
 'Jack': 0,
 'Adriana': 1,
 'Eric': 0,
 'Pamela': 1,
 'Tomás': 0,
 'Mariano': 0,
 'Tony': 0,
 'Harvey': 0,
 'Fabián': 0,
 'López': 0,
 'Horacio': 0,
 'Paz': 0,
 'Fuad': 0,
 'Andy': 0,
 'Justin': 0,
 'Karen': 1,
 'Mahmud': 0,
 'Hillary': 1,
 'Ángel': 0,
 'William': 0,
 'Julian': 0,
 'Ben': 0,
 'Andrew': 0,
 'Dave': 0,
 'Luciano': 0,
 'Enzo': 0,
 'Humberto': 0,
 'Franco': 0,
 'Rodolfo': 0,
 'Evelyn': 0,
 'Soledad': 1,
 'Jordi': 0,
 'Agustín': 0,
 'Hans': 0,
 'Walter': 0,
 'Jimmy': 0,
 'Marc': 0,
 'Adam': 0,
 'Jim': 0,
 'Octavio': 0,
 'Karla': 1,
 'Federico': 0,
 'Leopoldo': 0,
 'Alexander': 0,
 'Gastón': 0,
 'Albert': 0,
 'Christopher': 0,
 'Isaac': 0,
 'Lorenzo': 0,
 'Sam': 0,
 'Bruce': 0,
 'Nicole': 1,
 'Nick': 0,
 'Bryan': 0,
 'Beñat': 0,
 'Max': 0,
 'Tim': 0,
 'Samuel': 0,
 'Pepe': 0,
 'Laura': 1,
 'Constanza': 1,
 'Mauro': 0,
 'Fulvio': 0,
 'Paola': 1,
 'Harold': 0,
 'François': 0,
 'Joseph': 0,
 'Matt': 0,
 'Susana': 1,
 'Rick': 0,
 'Dilma': 1,
 'Baltasar': 0,
 'Ryan': 0,
 'Keiko': 0,
 'Pep': 0,
 'Nabila': 1,
 'Jeff': 0,
 'Paulina': 1,
 'Carles': 0,
 'Magdalena': 1,
 'Katherine': 1,
 'Erick': 0,
 'Jon': 0,
 'Silvio': 0,
 'Danny': 0,
 'Boris': 0,
 'Henry': 0,
 'Jessica': 1,
 'Jason': 0,
 'Maya': 1,
 'Hernán': 0,
 'Stefan': 0,
 'Leonidas': 0,
 'Herval': 0,
 'Arsene': 1,
 'Gloria': 1,
 'Diana': 1,
 'Armando': 0,
 'Franz': 0,
 'Sarah': 1,
 'Darío': 0,
 'Taylor': 0,
 'Ramiro': 0,
 'Josefina': 1,
 'Lucía': 1,
 'Ariel': 1,
 'Simon': 0,
 'Nico': 0,
 'Emma': 1,
 'Ian': 0,
 'Kurt': 0,
 'Jesús': 0,
 'Celestino': 0,
 'Néstor': 0,
 'Phil': 0,
 'Neil': 0,
 'Macarena': 1,
 'Carla': 1,
 'Yeferson': 0,
 'Leonel': 0,
 'Lorena': 0,
 'Rolando': 0,
 'Jennifer': 1,
 'Virginia': 1,
 'Jeremy': 0,
 'Roman': 0,
 'Carlo': 0,
 'Scott': 0,
 'Pilar': 1,
 'Lewis': 0,
 'Rosa': 1,
 'Serguei': 0,
 'Marta': 1,
 'Léo': 0,
 'Joel': 0,
 'Pierre': 0,
 'Andrónico': 0,
 'Yerko': 0,
 'Omar': 0,
 'Cristopher': 0,
 'Novak': 0,
 'Leandro': 0,
 'Patrick': 0,
 'Freddie': 0,
 'Adolfo': 0,
 'Brad': 0,
 'Máximo': 0,
 'Margot': 1,
 'Dorothy': 1,
 'Will': 0,
 'Mohamed': 0,
 'Vicuña': 0,
 'Myriam': 1,
 'Marie': 1,
 'Oliver': 0,
 'Ennio': 0,
 'Emilia': 1,
 'Maite': 1,
 'Edgardo': 0,
 'Fernanda': 1,
 'Gerard': 0,
 'Alicia': 1,
 'Philip': 0,
 'Willy': 0,
 'Braulio': 0,
 'Ollanta': 0,
 'Charlie': 0,
 'André': 0,
 'Edmundo': 0,
 'Aretha': 1,
 'Hugh': 0,
 'Brayan': 0,
 'Luke': 0,
 'Cathy': 1,
 'Vlado': 0,
 'Joao': 0,
 'Tito': 0,
 'Lily': 1,
 'Alain': 0,
 'Elías': 0,
 'Elon': 0,
 'Julia': 1,
 'Jamie': 0,
 'Orlando': 0,
 'Vargas': 0,
 'Flavio': 0,
 'Isidora': 1,
 'Sonia': 1,
 'Mary': 1,
 'Jeisson': 0,
 'Josep': 0,
 'Liam': 0,
 'Herman': 0,
 'Morgan': 0,
 'Noel': 0,
 'Elizabeth': 1,
 'Lautaro': 0,
 'Amy': 1,
 'Mick': 0,
 'Loreto': 1,
 'Kate': 1,
 'Igor': 0,
 'Katy': 1,
 'Zlatan': 0,
 'Sandra': 1,
 'Milton': 0,
 'Elisa': 1,
 'Matteo': 0,
 'Arley': 1,
 'Erika': 1,
 'Félix': 0,
 'Luz': 1,
 'Alfred': 0,
 'Maximiliano': 0,
 'Carl': 0,
 'Toni': 0,
 'Anna': 1,
 'Renato': 0,
 'Frei': 0,
 'Gael': 0,
 'Benito': 0,
 'Robin': 0,
 'Eddie': 0,
 'Antonia': 1,
 'Antoine': 0,
 'Charly': 0,
 'Josh': 0,
 'Von': 0,
 'Haroldo': 0,
 'Gutenberg': 0,
 'Pérez': 0,
 'Silvia': 1,
 'Jacqueline': 1,
 'Billy': 0,
 'Jared': 0,
 'Nate': 0,
 'Karina': 1,
 'Xavier': 0,
 'Raimundo': 0,
 'Edinson': 0,
 'Elton': 0,
 'Greg': 0,
 'Fabio': 0,
 'París': 1,
 'Teresa': 1,
 'J': 0,
 'Dan': 0,
 'Jamal': 0,
 'Victoria': 1,
 'Larry': 0,
 'Benedicto': 0,
 'Américo': 0,
 'Kenji': 0,
 'Francis': 0,
 'Valeria': 1,
 'Jan': 0,
 'Usain': 0,
 'Luisa': 1,
 'Damian': 0,
 'Rachel': 1,
 'Ascanio': 0,
 'Mathías': 0,
 'Naomi': 1,
 'Ken': 0,
 'Ricky': 0,
 'Rocío': 1,
 'Chuck': 0,
 'Laurence': 0,
 'Sara': 1,
 'Ron': 0,
 'Anita': 1,
 'Anne': 1,
 'Hermann': 0,
 'Janet': 1,
 'Gianni': 0,
 'Goldman': 0,
 'Margarita': 1,
 'Zinedine': 0,
 'Elvis': 0,
 'Jerry': 0,
 'Edward': 0,
 'Jacques': 0,
 'Sabino': 0,
 'Jane': 1,
 'Ariana': 1,
 'Serena': 1,
 'Stan': 0,
 'Claude': 0,
 'Lagos': 0,
 'Vince': 0,
 'Karl': 0,
 'Demi': 0,
 'Barry': 0,
 'Jordan': 0,
 'Shinzo': 0,
 'Esteban': 0,
 'Zack': 0,
 'Manuela': 1,
 'Olivia': 1,
 'Alison': 1,
 'Claire': 1,
 'Luka': 1,
 'Francesco': 0,
 'Ingrid': 1,
 'Rian': 0,
 'Ray': 0,
 'Francesca': 1,
 'Baldo': 0,
 'Axel': 0,
 'León': 0,
 'Dominic': 0,
 'Ezequiel': 0,
 'Carola': 1,
 'Ruth': 1,
 'Walt': 0,
 'Marina': 1,
 'Rob': 0,
 'Jenny': 1,
 'Denise': 1,
 'Kyle': 0,
 'Matthew': 0,
 'Nancy': 1,
 'Carrie': 1,
 'Marcel': 0,
 'Susan': 1,
 'Giuseppe': 0,
 'Pinto': 0,
 'Chamaco': 0,
 'Gómez': 0,
 'Tommy': 0,
 'Conor': 0,
 'Sandro': 0,
 'Juana': 1,
 'Elena': 1,
 'Aarón': 0,
 'Roy': 0,
 'Nibaldo': 0,
 'Ed': 0,
 'Horst': 0,
 'Bernie': 0,
 'Paloma': 1,
 'Bin': 0,
 'Louis': 0,
 'Reina': 1,
 'Ivo': 0,
 'Sol': 1,
 'Yoko': 0,
 'Marin': 0,
 'Douglas': 0,
 'Meryl': 1,
 'Emmelyn': 1,
 'Raquel': 1,
 'Dante': 0,
 'Christiane': 1,
 'Colin': 0,
 'Davide': 0,
 'Didier': 0,
 'Ciro': 0,
 'Erik': 0,
 'Leonard': 0,
 'Freddy': 0,
 'Edgar': 0,
 'Valtteri': 0,
 'Bernard': 0,
 'Tatiana': 1,
 'Keith': 0,
 'Andréi': 0,
 'Pato': 0,
 'Romy': 1,
 'Jovino': 0,
 'Margaret': 1,
 'Jesse': 0,
 'Moisés': 0,
 'Sofía': 1,
 'Catherine': 1,
 'Josefa': 1,
 'Joanna': 1,
 'Abel': 0,
 'Juvenal': 0,
 'Waldo': 0,
 'Marisela': 1,
 'Joane': 1,
 'Sergéi': 0,
 'Nano': 0,
 'Jerome': 0,
 'Manu': 0,
 'Tonka': 1,
 'Giovanni': 0,
 'Bernardita': 1,
 'Celso': 0,
 'Philippe': 0,
 'Getty': 1,
 'Eliseo': 0,
 'Gladys': 1,
 'Rabindranath': 0,
 'Paco': 0,
 'Marcial': 0,
 'Jay': 0,
 'Stanley': 0,
 'Adrián': 0,
 'Marilyn': 1,
 'Bobby': 0,
 'Kendrick': 0,
 'Kenneth': 0,
 'Bradley': 0,
 'Russell': 0,
 'Nelly': 1,
 'Natalie': 1,
 'Thierry': 0,
 'Henrik': 0,
 'Mel': 0,
 'Sharon': 1,
 'Mohammed': 0,
 'Nadine': 1,
 'Emily': 1,
 'Joachim': 0,
 'Otto': 0,
 'Stefano': 0,
 'Alexa': 1,
 'Henrique': 0,
 'Viktor': 0,
 'Rodríguez': 0,
 'Marcia': 1,
 'Lucho': 0,
 'Basher': 0,
 'Stevie': 0,
 'Luc': 0,
 'Boko': 0,
 'Kobe': 0,
 'Lou': 0,
 'Dennis': 0,
 'Milovan': 0,
 'Norman': 0,
 'Pete': 0,
 'Lissette': 1,
 'Alessandro': 0,
 'Alexei': 0,
 'Alexandre': 0,
 'Harrison': 0,
 'Gaspar': 0,
 'Nona': 1,
 'Ismael': 0,
 'Fabrizio': 0,
 'Jürgen': 0,
 'Harry': 0,
 'Vincent': 0,
 'Joshua': 0,
 'Jeffrey': 0,
 'Brandon': 0,
 'Hannah': 1,
 'Olga': 1,
 'Roxana': 1,
 'Aníbal': 0,
 'Leslie': 1,
 'Warren': 0,
 'Lars': 0,
 'Diane': 1,
 'Elvira': 1,
 'Genaro': 0,
 'Aurora': 1,
 'Melissa': 1,
 'Amanda': 1,
 'Fred': 0,
 'Teodoro': 0,
 'Sébastien': 0,
 'Frida': 1,
 'Abraham': 0,
 'Emanuel': 0,
 'Galo': 0,
 'Laurent': 0,
 'Clint': 0,
 'Yasmani': 0,
 'Jani': 1,
 'Miley': 1,
 'Patti': 1,
 'Isaiah': 0,
 'Cynthia': 1,
 'Ellen': 1,
 'Pancho': 0,
 'Sergi': 0,
 'Valber': 0,
 'Ulises': 0,
 'Juanita': 1,
 'Tamara': 1,
 'Diamela': 1,
 'Ernest': 0,
 'Adolf': 0,
 'Erwin': 0,
 'Rebecca': 1,
 'Fabricio': 0,
 'Winston': 0,
 'Jacob': 0,
 'Greta': 1,
 'Stéphanie': 1,
 'Liliana': 1,
 'Saul': 0,
 'Johan': 0,
 'Danilo': 0,
 'Ezra': 0,
 'Britney': 1,
 'Jeannette': 1,
 'Nora': 1,
 'Elsa': 1,
 'Grigor': 0,
 'Kylie': 0,
 'Toro': 1,
 'Henri': 0,
 'Dalcio': 0,
 'Leonor': 1,
 'Isabelle': 1,
 'Glenn': 0,
 'Reese': 1,
 'Heather': 1,
 'Tomislav': 0,
 'Iggy': 0,
 'Rupert': 0,
 'Lebron': 0,
 'Florentino': 0,
 'Wolfgang': 0,
 'Jupp': 0,
 'Geraldo': 0,
 'Randy': 0,
 'Nicholas': 0,
 'Caroline': 1,
 'Gene': 0,
 'Marvin': 0,
 'Lauren': 1,
 'Theo': 0,
 'Raphael': 0,
 'Quentin': 0,
 'Marlon': 0,
 'Iker': 0,
 'Arnaldo': 0,
 'Raymond': 0,
 'Nina': 1,
 'Vanessa': 1,
 'Blanca': 1,
 'Helen': 1,
 'Penelope': 1,
 'Kelly': 1,
 'Whitney': 1,
 'Bombo': 0,
 'Ralph': 0,
 'Vittorio': 0,
 'Lázaro': 0,
 'Saddam': 0,
 'Verónica': 1,
 'Fran': 1,
 'Debbie': 1,
 'Coco': 0,
 'Frédéric': 0,
 'Nairo': 0,
 'Mariela': 1,
 'Denisse': 1,
 'Piero': 0,
 'Johann': 0,
 'Jones': 0,
 'Nathan': 0,
 'Theodore': 0,
 'Annie': 1,
 'Brett': 0,
 'Gilberto': 0,
 'Robbie': 0,
 'Doug': 0,
 'Blake': 0,
 'Ringo': 0,
 'Michele': 1,
 'Ross': 0,
 'Angélica': 1,
 'Stuart': 0,
 'Lucio': 0,
 'Lamberto': 0,
 'Dustin': 0,
 'Rose': 1,
 'Anton': 0,
 'Noah': 0,
 'Amaro': 0,
 'Franklin': 0,
 'Arnold': 0,
 'Howard': 0,
 'Rita': 1,
 'Julianne': 1,
 'Julius': 0,
 'Sophie': 1,
 'Graciela': 1,
 'Inés': 1,
 'Stéphane': 1,
 'Wes': 0,
 'Gianluca': 0,
 'Jake': 0,
 'Jens': 0,
 'Branislav': 0,
 'Alexandra': 1,
 'Sabas': 0,
 'Pharrell': 0,
 'Graham': 0,
 'Lisa': 1,
 'Timothy': 0,
 'Sylvia': 1,
 'Malcolm': 0,
 'Nolberto': 0,
 'Rómulo': 0,
 'Mateo': 0,
 'Antonella': 1,
 'Kylian': 0,
 'Gerald': 0,
 'Gilbert': 0,
 'Mickey': 0,
 'Monserrat': 1,
 'Viviana': 1,
 'Vincenzo': 0,
 'Brigitte': 1,
 'Serge': 0,
 'Gregory': 0,
 'Aleksandr': 0,
 'Patty': 1,
 'Eloísa': 1,
 'Javi': 1,
 'Draymond': 0,
 'Daniella': 1,
 'Romina': 1,
 'Dana': 1,
 'Kristel': 1,
 'Nemesio': 0,
 'Johannes': 0,
 'Alice': 1,
 'Linda': 1,
 'Rogelio': 0,
 'Lena': 1,
 'Italo': 0,
 'Millie': 1,
 'Helia': 1,
 'Erich': 0,
 'Oprah': 1,
 'Gwyneth': 1,
 'Lindsay': 1,
 'Axl': 0,
 'Isidro': 0,
 'Joey': 0,
 'Demetrious': 0,
 'Kathleen': 1,
 'Marlene': 1,
 'Belén': 1,
 'Meghan': 1,
 'Matthias': 0,
 'Charlotte': 1,
 'Luisito': 0,
 'Oskar': 0,
 'Verónika': 1,
 'Nataly': 1,
 'Mathieu': 0,
 'Mariah': 1,
 'Sally': 1,
 'Facundo': 0,
 'Maribel': 1,
 'Yolanda': 1,
 'Gwen': 1,
 'Christofer': 0,
 'Eugenia': 1,
 'Edith': 1,
 'Alessandra': 1,
 'Estela': 1,
 'Delfina': 1,
 'Grace': 1,
 'Laurie': 1,
 'Stella': 1,
 'Kathryn': 1,
 'Angie': 1,
 'Cate': 1,
 'Cindy': 1,
 'Martha': 1,
 'Irene': 1,
 'Judith': 1,
 'Elisabeth': 1,
 'Rosanna': 1,
 'Ignacia': 1,
 'Katie': 1,
 'Herbert': 0,
 'Jeanette': 1,
 'Mariel': 1,
 'Fiorentina': 1,
 'Vladimiro': 0,
 'Jimena': 1,
 'Sophia': 1,
 'Feliciano': 0,
 'Helena': 1,
 'Muriel': 1,
 'Johanna': 1,
 'Maggie': 1,
 'Suzanne': 1,
 'Jeanne': 1,
 'Kathy': 1,
 'Natasha': 1,
 'Rosita': 1,
 'Reynaldo': 0,
 'Virgilio': 0,
 'Adriano': 0,
 'Ozzy': 0,
 'Valeska': 1,
 'Katerina': 1,
 'Cary': 1,
 'Betty': 1,
 'Nadia': 1,
 'Vivianne': 1,
 'Débora': 1,
 'Cata': 1,
 'Louise': 1,
 'Gisela': 1,
 'Clarisa': 1,
 'Karolina': 1,
 'Michelangelo': 0,
 'Björn': 1,
 'Franko': 0,
 'Arnaud': 0,
 'Yasmín': 1}

## 6. Diseñar e implementar una Base de Datos MySQL

Diseñar e implementar una base de datos MySQL que permite resolver las consultas C1, C2, C3, C y C5.

Pueden ayudarse de los esqueletos de codigo siguientes.

## 6.1 Diseño y creación de la base de datos

In [17]:
import mysql.connector 
##conexión a MySQL

db_connection = mysql.connector.connect(user="root",host="localhost",password="root")
cursor = db_connection.cursor()

In [ ]:
##Creación de la estructura de la base de datos
#cursor.execute("DROP DATABASE Aegir;")
#cursor.execute("CREATE DATABASE Aegir;")
#cursor.execute("USE Aegir")
#cursor.execute("CREATE TABLE Noticia (id_noticia INT PRIMARY KEY, fecha DATE, "+
#               "titulo TEXT(1000) CHARACTER SET utf8mb4, "+
#               "texto MEDIUMTEXT CHARACTER SET utf8mb4, nombre_medio VARCHAR(20))")
cursor.execute("CREATE TABLE Mencionar_personas "+
               "(id_noticia INT, nombre_completo VARCHAR(200), "+
               "nombre VARCHAR(100), apellido VARCHAR(100), genero VARCHAR(5), "+
              "PRIMARY KEY (id_noticia,nombre_completo), "+
              "FOREIGN KEY (id_noticia) REFERENCES Noticia(id_noticia))")
#cursor.execute("CREATE TABLE Mencionar_localidades "+
#               "(id_noticia INT, nombre_localidad VARCHAR(100), "+
#              "PRIMARY KEY (id_noticia,nombre_localidad), "+
#              "FOREIGN KEY (id_noticia) REFERENCES Noticia(id_noticia))")

## 6.2 Llenar la base con datos

In [18]:
data_df[:5]

,date,news outlet,title,text,semester,year
0,2016-07-04 15:03:04,24HorasTVN,"Caso ""dólar futuro"": Juez cita a nueva audiencia a Cristina Fernández - Internacional - 24horas","La ex mandataria será notificada de su procesamiento en la causa por venta de dólares a futuro. Además, se le informará de que se le trabará un embargo sobre sus bienes. El juez federal del caso ""dólar futuro"", Claudio Bonadio, fijó una nueva citación a tribunales a la ex presidenta de Argenti...",1,2016
1,2016-07-04 15:35:01,24HorasTVN,Corte de Apelaciones deja sin efecto cobro de la ANFP a Deportes Valdivia - Fútbol Nacional - 24horas,La justicia acogió el recurso de protección contra la Asociación Nacional de Fútbol Profesional. La primera sala de la Corte de Apelaciones de Valdivia acogió el recurso de protección de Deportes Valdivia y determinó que no deberán pagar la cuota de incorporación de 50 mil unidades de fomento ...,1,2016
2,2016-05-16 12:58:16,24HorasTVN,Policía de Chicago reporta desaparición de la cantante Sinead O'Connor - Espectáculos y Cultura - 24horas,"La irlandesa fue vista por última vez en un barrio al norte de Chicago durante la mañana del pasado domingo y es buscada por las autoridades. La policía de Chicago, Estados Unidos, anunció este lunes que la cantante irlandesa Sinead O'Connor desapareció el pasado domingo 15 de mayo en la mañan...",0,2016
3,2016-05-16 11:14:32,24HorasTVN,Más de 20 ballenas piloto mueren tras varar en Baja California - Internacional - 24horas,"Sólo tres de los 27 cetáceos que quedaron varados en Playa Bufeo se salvaron. Sólo tres de las 27 ballenas que quedaron varadas en Playa Bufeo se salvaron tras volver a aguas más profundas. Pese a que se desconocen las causas del accidente, se presume que los cetáceos se encontraban desorientad...",0,2016
4,2016-05-16 12:04:57,24HorasTVN,Sismo sacude a Tokio y otras ciudades del este de Japón - Internacional - 24horas,"Según la cadena de televisión pública NHK, no se han registrado ni daños ni heridos, pero los inmuebles de la capital se han tambaleado con el temblor. Un sismo de magnitud 5,4 Richter sacudió este lunes a Tokio y gran parte del este de Japón, anunció el Servicio Geológico de Estados Unidos (U...",0,2016

In [ ]:
#We will do a commit each 1000 texts
commit_count = 0

### We itereate over the news dataset 'data_df'
for index,row in data_df.iterrows():
    
    commit_count = commit_count+1
    
    # Text of the news
    text=row[3]
    # Title of the news
    title=row[2]
    # News outlet
    media=row[1]
    # Date of the news
    date_news=str(row[0]).partition(' ')[0]  
    #Id of the news
    id_news=str(index)
    
    
    ##### INSERT EN LA TABLA "NOTICIA" ######
    
    sql = "INSERT INTO Noticia (id_noticia, fecha, titulo, texto, nombre_medio) VALUES (%s, %s, %s,%s,%s)"
    val = (id_news, date_news, title, text, media)
    cursor.execute(sql, val)
    
    #########################################
    
    
    # We apply NLP prcommit_count = commit_count+1ocessing here, in particular Tokenization and Entity Name Recognition
    try:
        doc = nlp(text)
    except:
        continue

    
    # We analyze the entities from the document, and we use only the Person type(PER) and Locality type (LOC)
    for ent in doc.ents:
        
        # We check if entity is a Person type using the SpaCy model
        if(ent.label_=="PER"):
            
            # We tokenize the entity
            tokenized_entity=(ent.text).split(" ") 
            
            # We preserve only the entities that has between 2 and 4 tokens (Usual name annotation in Chile)
            if ((len(tokenized_entity)>1) and len(tokenized_entity)<=4):
                        
                ### We verify if the first token appears in our dictionary
                if(tokenized_entity[0] in dictionary):
                    ## If it appears, we clasify the genden - 0 = Men, 1 = Woman
                    if(dictionary[tokenized_entity[0]] == 0):
                        gender = str("M")
                    elif(dictionary[tokenized_entity[0]] == 1):
                        gender = str("F")
                    else:
                        continue

                    # We store two forms of name, Frist Name and Last Name --> entity name
                    # And full name ,which in Chile it is Two Names and Two Last Names
                    
                    entity_name = tokenized_entity[0] + " " + tokenized_entity[1]
                    entity_full_name = ent.text
                    
                    #Once everything has a good format, we send it to MySQL
                    
                    ##### INSERT EN LA TABLA "MENCIONAR_PERSONAS" ######
                    try:
                        sql = "INSERT INTO Mencionar_personas (id_noticia, nombre_completo, nombre, apellido, genero) VALUES (%s, %s, %s,%s,%s)"
                        val = (id_news, entity_name, tokenized_entity[0], tokenized_entity[1], gender)
                        cursor.execute(sql, val)
                    except:
                        continue
                    #########################################
                    
        # We check if entity is a Locality type using the SpaCy model
        if(ent.label_=="LOC"):
            ##### INSERT EN LA TABLA "MENCIONAR_LOCALIDADES" ######
            try:
                sql = "INSERT INTO Mencionar_localidades (id_noticia, nombre_localidad) VALUES (%s,%s)"
                val = (id_news, ent.text)
                cursor.execute(sql, val)
            except:
                continue
            #########################################
                           
                    
                                  
    # With commit count, each x, we make a commit to SQL to save the results
    if(commit_count%1000 == 0):
        print(commit_count)
        cursor.execute("COMMIT")

## 7. Responder a las consultas

In [ ]:
from pandas import DataFrame
import mysql.connector
##conexión a MySQL

db_connection = mysql.connector.connect(user="root",host="localhost",password="root")
cursor = db_connection.cursor()
cursor.execute("USE Aegir")

In [ ]:
#C1- ¿De qué personas se habla en las noticias?

sql = "SELECT nombre_completo, count(*) as freq FROM Mencionar_personas GROUP BY nombre_completo ORDER BY count(*) DESC LIMIT 20;"
cursor.execute(sql)
df1 = DataFrame(cursor.fetchall())
df1.columns = cursor.column_names
df1

In [ ]:
#C2- ¿De qué localidades (ciudades, paises) se hablan en las noticias?

sql = "SELECT nombre_localidad, count(*) as freq FROM Mencionar_localidades WHERE nombre_localidad IN ('Chile', 'Argentina', 'Rusia', 'Perú', 'China') GROUP BY nombre_localidad ORDER BY freq DESC;"
cursor.execute(sql)
df2 = DataFrame(cursor.fetchall())
df2.columns = cursor.column_names
df2

In [ ]:
#C2- ¿De qué localidades (ciudades, paises) se hablan en las noticias?

sql = "SELECT nombre_localidad, count(*) as freq FROM Mencionar_localidades WHERE nombre_localidad IN (SELECT country from countries) GROUP BY nombre_localidad ORDER BY freq DESC;"
cursor.execute(sql)
df2 = DataFrame(cursor.fetchall())
df2.columns = cursor.column_names
df2

In [ ]:
#C3- ¿Cuál es el género de las personas mencionadas?

sql = "SELECT genero, count(*) as freq FROM Mencionar_personas GROUP BY genero;"
cursor.execute(sql)
df3 = DataFrame(cursor.fetchall())
df3.columns = cursor.column_names
df3

In [ ]:
#C4- ¿Cómo se distribuye el género de las personas mencionadas según el medio de prensa?

sql = "SELECT nombre_medio, genero, count(*) as freq FROM Mencionar_personas JOIN Noticia USING (id_noticia) GROUP BY nombre_medio,genero;"
cursor.execute(sql)
df4 = DataFrame(cursor.fetchall())
df4.columns = cursor.column_names
df4

In [ ]:
#C5- ¿Cómo se distribuyen las noticias seǵun las localidades?

sql = "SELECT nombre_medio, nombre_localidad, count(*) as freq FROM Mencionar_localidades JOIN Noticia USING (id_noticia) WHERE nombre_localidad IN ('Santiago', 'Valdivia') GROUP BY nombre_medio, nombre_localidad;"
cursor.execute(sql)
df5 = DataFrame(cursor.fetchall())
df5.columns = cursor.column_names
df5

## 8. Visualización de datos

In [ ]:
!pip install geopandas

In [ ]:
import pandas as pd
import geopandas as gpd

shapefile = 'shapefiles/ne_110m_admin_0_countries.shp'

gdf = gpd.read_file(shapefile)[['ADMIN', 'ADM0_A3', 'geometry']]
gdf.columns = ['country', 'country_code', 'geometry']
gdf.head()

In [ ]:
print(gdf[gdf['country'] == 'Antarctica'])

#Drop row corresponding to 'Antarctica'
gdf = gdf.drop(gdf.index[159])

In [ ]:
df_country = df2
#df_country = pd.read_csv("df_country.csv")
df_country

In [ ]:
merged = gdf.merge(df_country, left_on = 'country', right_on = 'nombre_localidad',  how = 'left')

#Replace NaN values to string 'No data'.
merged.fillna('No data', inplace = True)

merged

In [ ]:
import json

#Read data to json
merged_json = json.loads(merged.to_json())

#Convert to str like object
json_data = json.dumps(merged_json)

In [ ]:
#!pip install bokeh

In [ ]:
from bokeh.io import output_notebook, show, output_file
from bokeh.plotting import figure
from bokeh.models import GeoJSONDataSource, LinearColorMapper, ColorBar
from bokeh.palettes import brewer

#Input GeoJSON source that contains features for plotting.
geosource = GeoJSONDataSource(geojson = json_data)

#Define a sequential multi-hue color palette.
palette = brewer['YlGnBu'][8]

#Reverse color order so that dark blue is highest obesity.
palette = palette[::-1]

#Instantiate LinearColorMapper that linearly maps numbers in a range, into a sequence of colors.
color_mapper = LinearColorMapper(palette = palette, low = 0, high = 100)

#Define custom tick labels for color bar.
tick_labels = {'0': '0%', '5': '5%', '10':'10%', '15':'15%', '20':'20%', '25':'25%', '30':'30%','35':'35%', '40': '40%',
               '50': '50%', '60': '60%', '70': '70%', '80': '80%', '90': '90%', '100': '100%'}

#Create color bar. 
color_bar = ColorBar(color_mapper=color_mapper, label_standoff=8,width = 500, height = 20,
border_line_color=None,location = (0,0), orientation = 'horizontal', major_label_overrides = tick_labels)

#Create figure object.
p = figure(title = 'Share of countries mentionned in chilean press', plot_height = 600 , plot_width = 950, toolbar_location = None)
p.xgrid.grid_line_color = None
p.ygrid.grid_line_color = None

#Add patch renderer to figure. 
p.patches('xs','ys', source = geosource,fill_color = {'field' :'freq', 'transform' : color_mapper},
          line_color = 'black', line_width = 0.25, fill_alpha = 1)

#Specify figure layout.
p.add_layout(color_bar, 'below')

#Display figure inline in Jupyter Notebook.
output_notebook()

#Display figure.
show(p)